@font-face {
  font-family: Bebas;
  src: url("../fonts/BebasNeue Regular.otf"); }
@font-face {
  font-family: Bebas;
  font-weight: bold;
  src: url("../fonts/BebasNeue Bold.otf"); }
@font-face {
  font-family: Bebas Light;
  src: url("../fonts/BebasNeue Light.otf"); }
@font-face {
  font-family: Calibri Light;
  src: url("../fonts/CalibriLight.ttf"); }
@font-face {
  font-family: Calibri;
  src: url("../fonts/CalibriRegular.ttf"); }
@font-face {
  font-family: Calibri;
  font-weight: bold;
  src: url("../fonts/CalibriBold.ttf"); }
.z-1, .black-bg {
  z-index: 1; }

.z-2 {
  z-index: 2; }

.z-3 {
  z-index: 3; }

.z-4 {
  z-index: 4; }

.z-5 {
  z-index: 5; }

.z-6, #frame-401 .info {
  z-index: 6; }

.z-7, .tv-frame, #frame-401 .print-button {
  z-index: 7; }

.z-8, #frame-107-a .ball, #frame-107-a .basket, #frame-107-b .ball, #frame-107-b .basket, #frame-107-c .ball, #frame-107-c .basket, #frame-108 .textfield, #frame-108 .check-button {
  z-index: 8; }

.z-9 {
  z-index: 9; }

.z-10 {
  z-index: 10; }

.z-11 {
  z-index: 11; }

.z-12 {
  z-index: 12; }

.z-13 {
  z-index: 13; }

.z-14 {
  z-index: 14; }

.z-15 {
  z-index: 15; }

.z-16 {
  z-index: 16; }

.z-17 {
  z-index: 17; }

.z-18 {
  z-index: 18; }

.z-19 {
  z-index: 19; }

.z-20 {
  z-index: 20; }

.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10; }

.next-button, .start-button, .correct, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 60%;
  text-align: center;
  padding-top: 8.5%; }

.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black; }

.absolute-max, #main, .frame, .tv-frame, .black-bg, #frame-101 .bg, #frame-101 .law, #frame-102 .bg-1, #frame-102 .bg-2, #frame-102 .bg-3, #frame-102 .milk-ice-cream, #frame-102 .boy-1-mouth, #frame-102 .boy-1-mouth-2, #frame-102 .boy-2-mouth, #frame-102 .boy-2-mouth-2, #frame-102 .shake, #frame-102 .boy-angry, #frame-102 .video-container, #frame-103 .tv-program, #frame-103 .boys-1, #frame-103 .boys-2, #frame-106 .boy-1-mouth, #frame-106 .boy-2-mouth, #frame-108 .matches.pos-1, #frame-109 .boy-mouth, #frame-110 .formula, #frame-110 .correct-answer, #frame-401 .info, .intro-video, .intro-pic {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.absolute, #frame-000 .annotation-hidden, #frame-000 .annotation-button, #frame-000 .button, #frame-000 .copyright, #frame-102 .lomonosov, #frame-102 .cloud-kaz, #frame-102 .cloud-rus, #frame-102 .cloud-eng, #frame-102 .cloud-formula, #frame-102 .boy-jug, #frame-104 .bingo-1, #frame-105 .bingo-1, #frame-104 .label-1, #frame-105 .label-1, #frame-104 .table, #frame-105 .table, #frame-104 .timer, #frame-105 .timer, #frame-104 .help-button, #frame-105 .help-button, #frame-104 .hint-pic, #frame-105 .hint-pic, #frame-105 .task-pic, #frame-104 .strawberry-container, #frame-105 .banana-container, #frame-107 .box-a, #frame-107 .box-b, #frame-107 .box-c, #frame-107-a .ball, #frame-107-a .basket, #frame-107-b .ball, #frame-107-b .basket, #frame-107-c .ball, #frame-107-c .basket, #frame-108 .matches.pos-0, #frame-108 .matches.pos-2, #frame-108 .equation, #frame-108 .textfield, #frame-108 .title, #frame-108 .comment, #frame-108 .check-button, #frame-108 .pear-container, #frame-109 .pancakes, #frame-109 .cloud, #frame-109 .soda, #frame-109 .vinegar, #frame-110 .comment, #frame-110 .avogadro-law-eng, #frame-110 .avogadro-law-kaz, #frame-110 .avogadro-law-rus, #frame-110 .law, #frame-110 .label, #frame-110 .textfield, #frame-110 .check-button, #frame-110 .law-link, #frame-110 .hint-pic, #frame-110 .hint-pic .close-button, #frame-111 .fruits, #frame-301 .header, #frame-301 .facts-container, #frame-301 .sources, #frame-301 .facts-home-button, #frame-401 .scales, #frame-401 .scales-empty, #frame-401 .scales-before, #frame-401 .scales-after, #frame-401 .spoon, #frame-401 .petry, #frame-401 .shtativ, #frame-401 .shtativ-2, #frame-401 .burner, #frame-401 .tigel, #frame-401 .title, #frame-401 .text, #frame-401 .comment, #frame-401 .print-button, #frame-402 .date, #frame-402 .instruction, #frame-402 .instruction-2, #frame-402 .instruction-3, #frame-402 .instruction-4, #frame-402 .table, #frame-402 .table-2, .intro-pic .grade, .intro-pic .subject {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat; }

.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

.default-font, * {
  font-family: Bebas; }

.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

/*GLOBAL AND MENU*/
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 50px; }

#main {
  overflow: hidden; }

.frame {
  background-size: 100% 100%; }

.tv-frame {
  background-image: url(../pics/tv-frame.png); }

.black-bg {
  background-image: url(../pics/black-background.png); }

/*FRAME 000 (TITLE/MENU)*/
#frame-000 {
  background-image: url(../pics/s0-bg.png); }

#frame-000 .annotation-hidden {
  z-index: 20;
  left: -120%;
  top: -20%;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  padding: 3em 7em;
  font-size: 30%;
  font-family: Calibri Light;
  text-align: left; }

#frame-000 .annotation-hidden ul li {
  font-family: Calibri Light;
  font-size: 75%; }

#frame-000 .annotation-hidden .footer {
  font-family: Calibri Light;
  font-style: italic;
  font-size: 90%; }

#frame-000 .annotation-hidden .header {
  font-family: Calibri;
  font-style: bold;
  font-size: 120%;
  display: block;
  min-width: 100%;
  text-align: center; }

#frame-000 .annotation-shown {
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%; }

#frame-000 .annotation-button {
  z-index: 23;
  left: 5%;
  top: 85%;
  width: 5%;
  height: 5%;
  font-size: 30%;
  color: white;
  cursor: pointer;
  text-align: center; }

#frame-000 .annotation-button-close {
  color: gray; }

#frame-000 .annotation-button:hover {
  color: blue; }

#frame-000 .button {
  cursor: pointer; }

#frame-000 .button:hover {
  border-bottom: 3px solid white; }

#frame-000 .research-button {
  left: 67.6%;
  top: 64.1%;
  width: 12%;
  height: 7.2%; }

#frame-000 .check-button {
  left: 64.05%;
  top: 51.4%;
  width: 16%;
  height: 8.3%; }

#frame-000 .facts-button {
  left: 70.8%;
  top: 76.6%;
  width: 8.75%;
  height: 7.3%; }

#frame-000 .der-button {
  left: 32.75%;
  top: 25.1%;
  width: 47.1%;
  height: 21.2%; }

#frame-000 .copyright {
  z-index: 19;
  left: 75%;
  top: 94.7%;
  width: 23%;
  height: 5%;
  font-size: 21%;
  color: gray; }

/*FRAME 101*/
#frame-101 .bg-1 {
  background-image: url(../pics/s1-bg-1.png); }

#frame-101 .bg-2 {
  background-image: url(../pics/s1-bg-2.png); }

#frame-101 .bg-3 {
  background-image: url(../pics/s1-bg-3.png); }

#frame-101 .tv-frame {
  background-image: url(../pics/tv-frame.png); }

#frame-101 .law-1 {
  background-image: url(../pics/s1-law-1.png); }

#frame-101 .law-2 {
  background-image: url(../pics/s1-law-2.png);
  background-color: black; }

/*FRAME 102*/
#frame-102 {
  background-image: url(../pics/s2-bg-1.png); }

#frame-102 .bg-1 {
  background-image: url(../pics/s2-bg-2.png); }

#frame-102 .bg-2 {
  background-image: url(../pics/s2-bg-3.png); }

#frame-102 .bg-3 {
  background-image: url(../pics/black-background.png); }

#frame-102 .milk-ice-cream {
  background-image: url(../pics/s2-milk-ice-cream.png); }

#frame-102 .boy-1-mouth {
  background-image: url(../pics/s2-boy-1-mouth.gif); }

#frame-102 .boy-1-mouth-2 {
  background-image: url(../pics/s2-boy-1-mouth-2.gif); }

#frame-102 .boy-2-mouth {
  background-image: url(../pics/s2-boy-2-mouth.gif); }

#frame-102 .boy-2-mouth-2 {
  background-image: url(../pics/s2-angry-boy-mouth.gif); }

#frame-102 .shake {
  background-image: url(../pics/s2-shake.png); }

#frame-102 .lomonosov {
  left: 65.95%;
  top: 32%;
  width: 34.05%;
  height: 71.1%;
  background-image: url(../pics/s2-lomonosov.png); }

#frame-102 .cloud-kaz {
  left: 31.05%;
  top: 57.7%;
  width: 30.6%;
  height: 39.9%;
  background-image: url(../pics/s2-cloud-kaz.png); }

#frame-102 .cloud-rus {
  left: 53.8%;
  top: 0%;
  width: 26.65%;
  height: 34.7%;
  background-image: url(../pics/s2-cloud-rus.png); }

#frame-102 .cloud-eng {
  left: 39.4%;
  top: 26.3%;
  width: 24.1%;
  height: 31.4%;
  background-image: url(../pics/s2-cloud-eng.png); }

#frame-102 .cloud-formula {
  left: 46.95%;
  top: 12.8%;
  width: 29.45%;
  height: 38.4%;
  background-image: url(../pics/s2-cloud-formula.png); }

#frame-102 .boy-jug {
  left: 22.9%;
  top: 31.4%;
  width: 40.15%;
  height: 58.5%;
  background-image: url(../pics/s2-boy-jug.png);
  background-size: 100% auto; }

#frame-102 .boy-angry {
  background-image: url(../pics/s2-angry-boy-n-bg.png);
  background-size: 100% 100%; }

#frame-102 .video-container {
  background-color: black; }

/*FRAME 103*/
#frame-103 {
  background-image: url(../pics/black-background.png); }

#frame-103 .tv-program {
  background-image: url(../pics/s3-tv-program.png); }

#frame-103 .boys-1 {
  background-image: url(../pics/s3-boys-1.png); }

#frame-103 .boys-2 {
  background-image: url(../pics/s3-boys-2.png); }

/*FRAME 104 AND 105*/
#frame-104, #frame-105 {
  background-image: url(../pics/black-background.png); }

#frame-104 .bingo-1 {
  background-size: 100% 100%;
  left: 31.5%;
  top: 20.5%;
  width: 37.25%;
  height: 37.7%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/s4-bingo.png); }

#frame-105 .bingo-1 {
  background-size: 100% 100%;
  left: 31.5%;
  top: 20.5%;
  width: 37.25%;
  height: 37.7%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/s5-bingo.png); }

#frame-104 .label-1, #frame-105 .label-1 {
  left: 10%;
  top: 63.7%;
  width: 80%;
  height: 15.5%;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  color: #e8f406;
  text-align: center;
  font-size: 100%; }

#frame-104 .table, #frame-105 .table {
  left: 33.85%;
  top: 26.5%;
  width: 33.45%;
  height: 62.7%;
  font-family: Verdana; }

#frame-104 .table .row, #frame-105 .table .row {
  position: relative;
  width: 100%;
  height: 20%;
  font-family: Verdana; }

#frame-104 .table .row .data {
  position: relative;
  width: 33.3%;
  height: 100%;
  float: left;
  cursor: pointer;
  font-size: 60%;
  background-color: white;
  border: 3px solid black;
  text-align: center;
  padding: 1%;
  font-family: Verdana; }

#frame-105 .table .row .data {
  position: relative;
  width: 33.3%;
  height: 100%;
  float: left;
  cursor: pointer;
  font-size: 35%;
  background-color: white;
  border: 3px solid black;
  text-align: center;
  padding: 1%;
  padding-top: 3%;
  font-family: Verdana; }

.color-1 {
  color: #f26e3c; }

.color-2 {
  color: #2d3da2; }

.color-3 {
  color: #368a19;
  font-size: 32%; }

#frame-104 .table .row .data:hover, #frame-105 .table .row .data:hover {
  background-color: blue;
  color: white; }

#frame-104 .timer, #frame-105 .timer {
  left: 82.3%;
  top: 75.4%;
  width: 13.25%;
  height: 14.5%;
  font-size: 60%;
  color: #e8f406; }

#frame-104 .help-button, #frame-105 .help-button {
  left: 4.15%;
  top: 7.3%;
  width: 4%;
  height: 8%;
  color: #e8f406;
  text-align: center;
  font-size: 34%;
  border-radius: 50%;
  border: 3px solid #e8f406;
  padding: 0.8%; }

#frame-104 .help-button:hover, #frame-105 .help-button:hover {
  color: black;
  background-color: #e8f406; }

#frame-104 .hint-pic {
  left: 39.35%;
  top: 32.3%;
  width: 21.3%;
  height: 42.6%;
  box-shadow: 0px 0px 4px 4px white;
  -moz-box-shadow: 0px 0px 4px 4px white;
  -o-box-shadow: 0px 0px 4px 4px white;
  -webkit-box-shadow: 0px 0px 4px 4px white;
  -ms-box-shadow: 0px 0px 4px 4px white;
  background-color: black;
  background-image: url(../pics/hint-h2o.png); }

#frame-105 .hint-pic {
  left: 39.35%;
  top: 32.3%;
  width: 21.3%;
  height: 42.6%;
  box-shadow: 0px 0px 4px 4px white;
  -moz-box-shadow: 0px 0px 4px 4px white;
  -o-box-shadow: 0px 0px 4px 4px white;
  -webkit-box-shadow: 0px 0px 4px 4px white;
  -ms-box-shadow: 0px 0px 4px 4px white;
  color: white;
  padding: 2%;
  font-size: 26%;
  background-color: black; }

#frame-105 .task-pic {
  left: 67.2%;
  top: 24.3%;
  width: 22.5%;
  height: 50%;
  background-image: url(../pics/task-sulfuric-acid.png);
  background-size: 100% 100%; }

#frame-104 .strawberry-container {
  left: 77.55%;
  top: 7.3%;
  width: 12.2%;
  height: 14.8%; }

#frame-105 .banana-container {
  left: 85.9%;
  top: 7.2%;
  width: 10.9%;
  height: 35.5%; }

#frame-104 .strawberry-container .strawberry {
  float: left;
  width: 25%;
  height: 50%;
  background-size: 100% 100%;
  background-image: url(../pics/strawberry.png); }

#frame-105 .banana-container .banana {
  float: left;
  width: 50%;
  height: 33%;
  background-size: 100% 100%;
  background-image: url(../pics/banana.png); }

/*FRAME 106*/
#frame-106 {
  background-image: url(../pics/s6-bg.png); }

#frame-106 .boy-1-mouth {
  background-image: url(../pics/s2-boy-1-mouth.gif); }

#frame-106 .boy-2-mouth {
  background-image: url(../pics/s6-boy-2-mouth.gif); }

/*FRAME 107*/
#frame-107 .box-a, #frame-107 .box-b, #frame-107 .box-c {
  background-size: 100% 100%;
  cursor: pointer; }

#frame-107 .box-a {
  background-image: url(../pics/s7-box-a.png);
  left: 69.65%;
  top: 33%;
  width: 24.65%;
  height: 41.9%; }

#frame-107 .box-a:hover {
  background-image: url(../pics/s7-box-a.png);
  left: 69.15%;
  top: 32%;
  width: 25.65%;
  height: 43.9%; }

#frame-107 .box-b {
  background-image: url(../pics/s7-box-b.png);
  left: 35.6%;
  top: 28.8%;
  width: 28.6%;
  height: 48.5%; }

#frame-107 .box-b:hover {
  background-image: url(../pics/s7-box-b.png);
  left: 35.1%;
  top: 27.8%;
  width: 29.6%;
  height: 50.5%; }

#frame-107 .box-c {
  background-image: url(../pics/s7-box-c.png);
  left: 8.45%;
  top: 35%;
  width: 20.3%;
  height: 34.5%; }

#frame-107 .box-c:hover {
  background-image: url(../pics/s7-box-c.png);
  left: 7.95%;
  top: 34%;
  width: 21.3%;
  height: 36.5%; }

/*FRAME 107-a*/
#frame-107-a {
  background-image: url(../pics/s7-task-a.png); }

#frame-107-a .ball {
  background-size: 100% 100%; }

#frame-107-a .ball-2 {
  left: 91.95%;
  top: 45.6%;
  width: 3.75%;
  height: 9.8%;
  background-image: url(../pics/s7-2.png); }

#frame-107-a .ball-3 {
  left: 4%;
  top: 65.6%;
  width: 3.75%;
  height: 9.8%;
  background-image: url(../pics/s7-3.png); }

#frame-107-a .ball-4 {
  left: 4%;
  top: 45.6%;
  width: 3.75%;
  height: 9.8%;
  background-image: url(../pics/s7-4.png); }

#frame-107-a .ball-5 {
  left: 91.95%;
  top: 65.6%;
  width: 3.75%;
  height: 9.8%;
  background-image: url(../pics/s7-5.png); }

#frame-107-a .basket {
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat; }

#frame-107-a .basket-1 {
  left: 18.2%;
  top: 15.5%;
  width: 3.55%;
  height: 8.4%; }

#frame-107-a .basket-2 {
  left: 33.3%;
  top: 15.3%;
  width: 3.65%;
  height: 8.8%; }

#frame-107-a .basket-3 {
  left: 52.35%;
  top: 15.5%;
  width: 3.55%;
  height: 8.4%; }

#frame-107-a .basket-4 {
  left: 74.05%;
  top: 15.5%;
  width: 3.35%;
  height: 8.4%; }

#frame-107-a .basket-5 {
  left: 11.7%;
  top: 30.4%;
  width: 3.55%;
  height: 8.4%; }

#frame-107-a .basket-6 {
  left: 30.6%;
  top: 30.4%;
  width: 3.55%;
  height: 8.4%; }

#frame-107-a .basket-7 {
  left: 53.7%;
  top: 30.4%;
  width: 3.65%;
  height: 8.6%; }

#frame-107-a .basket-8 {
  left: 77.25%;
  top: 30.6%;
  width: 3.4%;
  height: 8.2%; }

#frame-107-a .basket-9 {
  left: 17.25%;
  top: 44.9%;
  width: 3.55%;
  height: 9.1%; }

#frame-107-a .basket-10 {
  left: 32%;
  top: 45.6%;
  width: 3.65%;
  height: 8.6%; }

#frame-107-a .basket-11 {
  left: 53.5%;
  top: 45.3%;
  width: 3.75%;
  height: 8.7%; }

#frame-107-a .basket-12 {
  left: 74%;
  top: 45.3%;
  width: 3.5%;
  height: 8.9%; }

#frame-107-a .basket-13 {
  left: 22.7%;
  top: 60.3%;
  width: 3.7%;
  height: 8.9%; }

#frame-107-a .basket-14 {
  left: 43.7%;
  top: 60.3%;
  width: 3.6%;
  height: 8.9%; }

#frame-107-a .basket-15 {
  left: 61.8%;
  top: 60.7%;
  width: 3.75%;
  height: 8.7%; }

#frame-107-a .basket-16 {
  left: 16.35%;
  top: 75.4%;
  width: 3.65%;
  height: 9.1%; }

#frame-107-a .basket-17 {
  left: 31.6%;
  top: 75%;
  width: 3.7%;
  height: 9.5%; }

#frame-107-a .basket-18 {
  left: 53.4%;
  top: 75.4%;
  width: 3.65%;
  height: 8.7%; }

#frame-107-a .basket-19 {
  left: 74.6%;
  top: 75.4%;
  width: 3.6%;
  height: 8.7%; }

/*FRAME 107-b*/
#frame-107-b {
  background-image: url(../pics/s7-task-b.png); }

#frame-107-b .ball {
  background-size: 100% 100%; }

#frame-107-b .ball-2 {
  left: 87.3%;
  top: 9.8%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-2.png); }

#frame-107-b .ball-3 {
  left: 8.25%;
  top: 23.9%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-3.png); }

#frame-107-b .ball-4 {
  left: 8.25%;
  top: 8.9%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-4.png); }

#frame-107-b .ball-5 {
  left: 87.3%;
  top: 23.9%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-5.png); }

#frame-107-b .ball-6 {
  left: 8.25%;
  top: 38.8%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-6.png); }

#frame-107-b .basket {
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat; }

#frame-107-b .basket-1 {
  left: 27.8%;
  top: 15%;
  width: 3.75%;
  height: 9.1%; }

#frame-107-b .basket-2 {
  left: 61%;
  top: 15.3%;
  width: 3.55%;
  height: 8.6%; }

#frame-107-b .basket-3 {
  left: 19.45%;
  top: 29.7%;
  width: 3.75%;
  height: 9.3%; }

#frame-107-b .basket-4 {
  left: 52.8%;
  top: 30.4%;
  width: 3.4%;
  height: 8.6%; }

#frame-107-b .basket-5 {
  left: 68.8%;
  top: 30.1%;
  width: 3.5%;
  height: 8.7%; }

#frame-107-b .basket-6 {
  left: 20%;
  top: 45.4%;
  width: 3.55%;
  height: 8.9%; }

#frame-107-b .basket-7 {
  left: 38.25%;
  top: 45.4%;
  width: 3.65%;
  height: 8.7%; }

#frame-107-b .basket-8 {
  left: 53.25%;
  top: 45.7%;
  width: 3.55%;
  height: 8.4%; }

#frame-107-b .basket-9 {
  left: 68.35%;
  top: 45.7%;
  width: 3.75%;
  height: 8.9%; }

#frame-107-b .basket-10 {
  left: 9.65%;
  top: 60.3%;
  width: 3.75%;
  height: 8.9%; }

#frame-107-b .basket-11 {
  left: 27.45%;
  top: 60.5%;
  width: 3.75%;
  height: 8.7%; }

#frame-107-b .basket-12 {
  left: 48.95%;
  top: 60.5%;
  width: 3.65%;
  height: 8.5%; }

#frame-107-b .basket-13 {
  left: 61.9%;
  top: 60.3%;
  width: 3.8%;
  height: 8.9%; }

#frame-107-b .basket-14 {
  left: 78.7%;
  top: 60.3%;
  width: 3.65%;
  height: 8.9%; }

#frame-107-b .basket-15 {
  left: 19.8%;
  top: 75.4%;
  width: 3.55%;
  height: 8.7%; }

#frame-107-b .basket-16 {
  left: 36%;
  top: 75.4%;
  width: 3.45%;
  height: 8.4%; }

#frame-107-b .basket-17 {
  left: 69.45%;
  top: 75.2%;
  width: 3.55%;
  height: 8.9%; }

/*FRAME 107-c*/
#frame-107-c {
  background-image: url(../pics/s7-task-c.png); }

#frame-107-c .ball {
  background-size: 100% 100%; }

#frame-107-c .ball-2 {
  left: 32.15%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-2.png); }

#frame-107-c .ball-3 {
  left: 41.7%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-3.png); }

#frame-107-c .ball-4 {
  left: 51.4%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-4.png); }

#frame-107-c .ball-5 {
  left: 69.95%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-5.png); }

#frame-107-c .ball-6 {
  left: 60.95%;
  top: 83.2%;
  width: 3.25%;
  height: 9.8%;
  background-image: url(../pics/s7-6.png); }

#frame-107-c .basket {
  background-size: 70% 70%;
  background-position: center;
  background-repeat: no-repeat; }

#frame-107-c .basket-1 {
  left: 5.9%;
  top: 18.6%;
  width: 3.2%;
  height: 7.6%; }

#frame-107-c .basket-2 {
  left: 18.6%;
  top: 19%;
  width: 3.1%;
  height: 7.6%; }

#frame-107-c .basket-3 {
  left: 48.3%;
  top: 18.8%;
  width: 3.1%;
  height: 7.8%; }

#frame-107-c .basket-4 {
  left: 63.95%;
  top: 18.8%;
  width: 3.15%;
  height: 7.6%; }

#frame-107-c .basket-5 {
  left: 81.95%;
  top: 18.6%;
  width: 3.35%;
  height: 7.8%; }

#frame-107-c .basket-6 {
  left: 25.25%;
  top: 31.6%;
  width: 3.2%;
  height: 7.7%; }

#frame-107-c .basket-7 {
  left: 59.45%;
  top: 31.6%;
  width: 3%;
  height: 7.7%; }

#frame-107-c .basket-8 {
  left: 75.3%;
  top: 31.4%;
  width: 3.05%;
  height: 7.7%; }

#frame-107-c .basket-9 {
  left: 9.8%;
  top: 45.1%;
  width: 3.2%;
  height: 7.6%; }

#frame-107-c .basket-10 {
  left: 23.5%;
  top: 44.9%;
  width: 3.15%;
  height: 7.5%; }

#frame-107-c .basket-11 {
  left: 43.5%;
  top: 44.7%;
  width: 3.3%;
  height: 7.7%; }

#frame-107-c .basket-12 {
  left: 78.9%;
  top: 44.7%;
  width: 3.2%;
  height: 7.7%; }

#frame-107-c .basket-13 {
  left: 15.45%;
  top: 57.8%;
  width: 3.1%;
  height: 7.7%; }

#frame-107-c .basket-14 {
  left: 50.95%;
  top: 57.8%;
  width: 3.1%;
  height: 7.9%; }

#frame-107-c .basket-15 {
  left: 66.9%;
  top: 57.8%;
  width: 3.05%;
  height: 7.7%; }

#frame-107-c .basket-16 {
  left: 27.8%;
  top: 70.9%;
  width: 3.3%;
  height: 7.5%; }

#frame-107-c .basket-17 {
  left: 39.3%;
  top: 70.5%;
  width: 3.1%;
  height: 7.7%; }

#frame-107-c .basket-18 {
  left: 55.85%;
  top: 70.9%;
  width: 3.3%;
  height: 7.5%; }

#frame-107-c .basket-19 {
  left: 77.35%;
  top: 70.5%;
  width: 3.25%;
  height: 8.1%; }

#frame-107-c .basket-20 {
  left: 88.4%;
  top: 70.7%;
  width: 3.1%;
  height: 7.5%; }

/*FRAME 108*/
#frame-108 .tv-frame {
  background-image: url(../pics/s1-law-2.png), url(../pics/tv-frame.png); }

#frame-108 .matches {
  background-image: url(../pics/s8-matches.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s; }

#frame-108 .matches.pos-0 {
  left: 50%;
  top: 50%;
  width: 0%;
  height: 0%; }

#frame-108 .matches.pos-1 {
  background-size: 60%; }

#frame-108 .matches.pos-2 {
  left: 62.8%;
  top: 33.6%;
  width: 26.85%;
  height: 42.1%;
  background-size: 100% 100%; }

#frame-108 .equation {
  background-image: url(../pics/s8-equation.png);
  left: 10.75%;
  top: 30.4%;
  width: 45.6%;
  height: 48.5%; }

#frame-108 .textfield {
  background-color: transparent;
  border: none;
  font-size: 35%;
  text-align: center;
  padding: 0.3%;
  font-family: Calibri;
  font-weight: bold; }

#frame-108 .textfield-1 {
  left: 41.25%;
  top: 44.5%;
  width: 11.5%;
  height: 5.5%; }

#frame-108 .textfield-2 {
  left: 41.25%;
  top: 53.5%;
  width: 11.5%;
  height: 5.5%; }

#frame-108 .textfield-3 {
  left: 41.25%;
  top: 62.5%;
  width: 11.5%;
  height: 5.5%; }

#frame-108 .title {
  left: 25.2%;
  top: 14.0%;
  width: 49.85%;
  height: 5.9%;
  font-size: 40%;
  text-align: center; }

#frame-108 .comment {
  left: 35.6%;
  top: 20.3%;
  width: 29.4%;
  height: 8.5%;
  font-size: 20%;
  color: red;
  text-align: center; }

#frame-108 .check-button {
  left: 68.95%;
  top: 81.2%;
  width: 12.25%;
  height: 9.1%;
  background-image: url(../pics/check-button.png); }

#frame-108 .check-button:hover {
  background-image: url(../pics/check-button-hover.png); }

#frame-108 .pear-container {
  left: 40.95%;
  top: 74.8%;
  width: 18.6%;
  height: 15.5%; }

#frame-108 .pear-container .pear {
  float: left;
  width: 33.3%;
  height: 100%;
  background-size: 100% 100%;
  background-image: url(../pics/pear.png); }

/*FRAME 109*/
#frame-109 {
  background-image: url(../pics/s6-bg.png); }

#frame-109 .boy-mouth {
  background-image: url(../pics/s2-boy-1-mouth.gif); }

#frame-109 .pancakes {
  background-image: url(../pics/s9-pancakes.png);
  left: 14.15%;
  top: 17.9%;
  width: 10.35%;
  height: 15.8%; }

#frame-109 .cloud {
  left: 10.2%;
  top: 10.9%;
  width: 16.6%;
  height: 29.9%;
  background-image: url(../pics/s9-cloud.png); }

#frame-109 .soda {
  background-image: url(../pics/s9-soda.png);
  left: 14.1%;
  top: 37%;
  width: 3.2%;
  height: 9.3%; }

#frame-109 .vinegar {
  background-image: url(../pics/s9-vinegar.png);
  left: 20.9%;
  top: 33%;
  width: 2.05%;
  height: 13.3%; }

/*FRAME 110*/
#frame-110 {
  background-image: url(../pics/black-background.png); }

#frame-110 .comment {
  left: 24.85%;
  top: 11.6%;
  width: 56.3%;
  height: 13.6%;
  font-size: 40%;
  text-align: center;
  color: white; }

#frame-110 .avogadro-law-eng {
  background-image: url(../pics/avogadro-law-eng.png);
  left: 30.65%;
  top: 44.7%;
  width: 38.7%;
  height: 10.6%; }

#frame-110 .avogadro-law-kaz {
  background-image: url(../pics/avogadro-law-kaz.png);
  left: 32.45%;
  top: 30%;
  width: 35.05%;
  height: 10.6%; }

#frame-110 .avogadro-law-rus {
  background-image: url(../pics/avogadro-law-rus.png);
  left: 33.65%;
  top: 57.9%;
  width: 39%;
  height: 10.6%; }

#frame-110 .formula {
  background-image: url(../pics/s10-formula.png); }

#frame-110 .law {
  left: 6.85%;
  top: 30.5%;
  width: 86.75%;
  height: 7.4%;
  background-image: url(../pics/s10-law.png); }

#frame-110 .label {
  left: 22.05%;
  top: 53.6%;
  width: 8.05%;
  height: 6.5%;
  font-size: 80%;
  color: white; }

#frame-110 .textfield {
  left: 38.05%;
  top: 49.7%;
  width: 25.85%;
  height: 13.8%;
  font-size: 80%;
  padding: 1%;
  font-family: Calibri;
  font-weight: bold; }

#frame-110 .check-button {
  left: 67.4%;
  top: 49.3%;
  width: 19.9%;
  height: 14.9%;
  background-image: url(../pics/check-button.png); }

#frame-110 .check-button:hover {
  background-image: url(../pics/check-button-hover.png); }

#frame-110 .law-link {
  font-size: 40%;
  cursor: pointer;
  text-decoration: underline;
  color: blue; }

#frame-110 .law-1-link {
  left: 15.05%;
  top: 84.5%;
  width: 13.9%;
  height: 5.1%; }

#frame-110 .law-2-link {
  left: 40%;
  top: 84.5%;
  width: 22%;
  height: 5.1%; }

#frame-110 .law-3-link {
  left: 76.7%;
  top: 84.5%;
  width: 8.3%;
  height: 5.1%; }

#frame-110 .hint-pic {
  left: 5%;
  top: 10%;
  width: 90%;
  height: 80%;
  background-color: black; }

#frame-110 .hint-pic .close-button {
  right: 0px;
  top: 0px;
  font-size: 60%;
  color: white;
  cursor: pointer; }

#frame-110 .hint-pic .close-button:hover {
  color: blue; }

#frame-110 .correct-answer {
  background-image: url(../pics/correct-answer-rus.png);
  z-index: 9; }

/*FRAME 111*/
#frame-111 {
  background-image: url(../pics/s11-bg.png); }

.transformed {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg); }

#frame-111 .fruits {
  -ms-transition: all 10s;
  -webkit-transition: all 10s;
  -moz-transition: all 10s;
  -o-transition: all 10s;
  transition: all 10s;
  left: 26.65%;
  top: 0.8%;
  width: 49.4%;
  height: 80.7%;
  background-image: url(../pics/s11-fruits.png);
  background-size: 80% 80%;
  background-position: center;
  border-radius: 50%; }

/*CHECK YOURSELF*/
#frame-201 * {
  font-size: 40%; }

#frame-201 .page-title {
  font-size: 100%; }

#frame-201 .surname, #frame-201 .surname u {
  font-size: 60%; }

#frame-201 .date, #frame-201 .date u {
  font-size: 60%; }

#frame-201 .awards {
  font-size: 50%; }

#frame-201 .part-title {
  position: relative;
  border-top: 2px solid black;
  padding-top: 1%; }

#frame-201 .question {
  padding: 10%;
  border-top: 2px dotted gray; }

#frame-201 .task-4 .table .row .data {
  float: left;
  border: 1px solid black;
  padding: 0.5%;
  width: 25%;
  height: 100%; }

#frame-201 .task-4 .table .row {
  width: 100%;
  height: 33%; }

#frame-201 .task-4 .table {
  position: relative;
  width: 1800px;
  height: 300px; }

/*FACTS*/
#frame-301 {
  background-color: lightGray; }

#frame-301 .header {
  left: 40%;
  top: 6.4%;
  width: 20%;
  height: 4.2%;
  font-size: 50%;
  font-weight: bold;
  text-align: center; }

#frame-301 .facts-container {
  left: 3.15%;
  top: 21.7%;
  width: 92.55%;
  height: 60%;
  border-bottom: 1px solid white; }

#frame-301 .fact {
  float: left;
  height: 100%;
  width: 20%; }

#frame-301 .fact .title {
  font-size: 32%;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 0.1em; }

#frame-301 .fact .text {
  font-size: 26%;
  font-family: Verdana;
  padding: 1%;
  padding-top: 5%;
  text-align: center; }

#frame-301 .fact .text-dif-format {
  font-size: 30%;
  font-family: Georgia;
  padding: 1%;
  padding-top: 5%;
  text-align: center; }

#frame-301 .sources {
  left: 5%;
  top: 85%;
  width: 90%;
  height: 10%;
  font-size: 30%; }

#frame-301 .sources .title {
  text-align: center;
  height: 70%; }

#frame-301 .sources ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0; }

#frame-301 .sources ul li {
  font-family: Verdana;
  font-size: 60%;
  display: inline;
  float: left;
  width: 25%; }

#frame-301 .sources ul li a {
  display: block;
  width: 100%; }

#frame-301 .facts-home-button {
  left: 94.45%;
  top: 2.8%;
  width: 4.55%;
  height: 9.1%;
  display: block;
  font-size: 50%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #8DD3FD;
  border: 1px solid black;
  padding: 0.4em;
  color: white; }

#frame-301 .facts-home-button:hover {
  border: 1px solid #FEB67A;
  color: black; }

/*RESEARCH*/
#frame-401 {
  background-image: url(../pics/black-background.png); }

#frame-401 .scales {
  left: 5.25%;
  top: 55.2%;
  width: 27.8%;
  height: 34.6%;
  background-image: url(../pics/scales.png); }

#frame-401 .scales-empty {
  left: 5.25%;
  top: 55.2%;
  width: 27.8%;
  height: 34.6%;
  background-image: url(../pics/scales-empty.png); }

#frame-401 .scales-before {
  left: 5.25%;
  top: 55.2%;
  width: 27.8%;
  height: 34.6%;
  background-image: url(../pics/scales-before.png); }

#frame-401 .scales-after {
  left: 5.25%;
  top: 55.2%;
  width: 27.8%;
  height: 34.6%;
  background-image: url(../pics/scales-after.png); }

#frame-401 .spoon {
  left: 91.5%;
  top: 29.9%;
  width: 2.35%;
  height: 34%;
  background-image: url(../pics/spoon.png);
  background-size: 300% 100%; }

#frame-401 .spoon-petry {
  left: 82.1%;
  top: 44.6%;
  width: 2.35%;
  height: 34%; }

#frame-401 .spoon-tigel {
  left: 60%;
  top: 7.9%;
  width: 2.35%;
  height: 34%; }

#frame-401 .petry {
  left: 75%;
  top: 72.5%;
  width: 14.0%;
  height: 12.1%; }

#frame-401 .petry-full {
  background-image: url(../pics/petry-full.png); }

#frame-401 .petry-empty {
  background-image: url(../pics/petry-empty.png); }

#frame-401 .shtativ {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/shtativ.png);
  left: 39.8%;
  top: 28.0%;
  width: 25.9%;
  height: 57.3%; }

#frame-401 .shtativ-2 {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-image: url(../pics/shtativ2.png);
  left: 39.8%;
  top: 28.0%;
  width: 25.9%;
  height: 57.3%; }

#frame-401 .burner {
  background-image: url(../pics/burner.gif);
  background-size: 100% 100%;
  left: 52.75%;
  top: 55.2%;
  width: 9.6%;
  height: 26.9%; }

#frame-401 .tigel {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  left: 52.75%;
  top: 41.9%;
  width: 12.4%;
  height: 13.3%; }

#frame-401 .tigel-empty {
  background-image: url(../pics/tigel-empty.png); }

#frame-401 .tigel-full {
  background-image: url(../pics/tigel-full.png); }

#frame-401 .tigel-closed {
  background-image: url(../pics/tigel-closed.png); }

#frame-401 .tigel-on-scale {
  left: 14.55%;
  top: 48.6%;
  width: 12.4%;
  height: 13.3%; }

#frame-401 .title {
  color: white;
  font-size: 80%;
  text-decoration: underline;
  left: 6.1%;
  top: 9.1%;
  width: 10.55%;
  height: 7.3%; }

#frame-401 .text {
  font-family: Calibri Light;
  font-size: 30%;
  text-align: left;
  color: white;
  background-color: black;
  padding: 3%;
  left: 18.85%;
  top: 15%;
  width: 65.15%;
  height: 70%; }

#frame-401 .comment {
  font-size: 40%;
  color: white;
  left: 5.9%;
  top: 21.8%;
  width: 35%;
  height: 10.1%; }

#frame-401 .info-1 {
  background-image: url(../pics/research-1.png); }

#frame-401 .info-2 {
  background-image: url(../pics/research-2.png); }

#frame-401 .info-3 {
  background-image: url(../pics/research-3.png); }

#frame-401 .print-button {
  font-size: 80%;
  color: white;
  text-align: center;
  border: 3px solid white;
  background-color: black;
  cursor: pointer;
  left: 20.9%;
  top: 79.8%;
  width: 60.95%;
  height: 12.8%; }

#frame-401 .print-button:hover {
  background-color: gray; }

/*FRAME 402*/
#frame-402 .date {
  width: 100%;
  height: 5%;
  font-size: 30%;
  padding: 1%; }

#frame-402 .instruction {
  width: 100%;
  top: 5%;
  height: 10%;
  font-size: 50%;
  padding: 1%; }

#frame-402 .instruction-2 {
  width: 100%;
  height: 10%;
  top: 15%;
  font-size: 50%;
  padding: 1%; }

#frame-402 .instruction-3 {
  width: 100%;
  height: 10%;
  top: 75%;
  font-size: 50%;
  padding: 1%; }

#frame-402 .instruction-4 {
  width: 100%;
  height: 10%;
  top: 130%;
  font-size: 50%;
  padding: 1%; }

#frame-402 .table {
  top: 30%;
  left: 2%;
  width: 95%;
  height: 40%; }

#frame-402 .table-2 {
  top: 85%;
  left: 2%;
  width: 95%;
  height: 40%; }

#frame-402 .table .row {
  width: 100%;
  height: 25%; }

#frame-402 .table-2 .row {
  width: 100%;
  height: 25%; }

#frame-402 .table .row .data {
  display: block;
  width: 50%;
  height: 100%;
  float: left;
  border: 1px solid black;
  font-size: 50%;
  padding: 1%; }

#frame-402 .table-2 .row .data {
  display: block;
  width: 33%;
  height: 100%;
  float: left;
  border: 1px solid black;
  font-size: 50%;
  padding: 1%; }

/*INTRO VIDEO*/
.intro-video {
  display: block;
  z-index: 25;
  background-color: white; }

/*INTRO PIC*/
.intro-pic {
  background-image: url(../pics/intro-pic.png);
  z-index: 24; }

.intro-pic .grade {
  left: 26%;
  top: 36.8%;
  width: 4.85%;
  height: 8.2%;
  font-family: Calibri Light;
  font-size: 70%;
  color: white;
  text-align: center; }

.intro-pic .subject {
  left: 41.95%;
  top: 45.8%;
  width: 50%;
  height: 13.1%;
  font-family: Calibri Light;
  font-size: 60%;
  color: #666564;
  text-align: left; }

.intro-pic .subject .sub-part {
  font-size: 80%;
  font-family: Calibri Light; }

/*# sourceMappingURL=global.css.map */
